body {
    text-align: center;
    font-family: Tahoma;
    color: white;
}
main{
    background-color: maroon;
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
aside{
    background-image: url(Capas/vinho.jpg);
    width: 30%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}
h1{
    color: whitesmoke;
    font-style: italic;
    font-variant: small-caps;
    border: 2px dotted mistyrose;
}
h1:hover{
    background-color: crimson;
    color: lightpink;
    border-color: lightpink;
}
h3{
    color: maroon;
    background-image: url(Capas/branco.jpg);
}
h3:hover{
    color: indianred;
}
.fundoQuadrado{
    color: maroon;
    background-image: url(Capas/fundo.jpg);
}
li{
    color: lightgray;
    font-size: 10pt;
    font-weight: bold;
    margin: 35px;
    list-style-image: url(Capas/check.png);
    text-align: left;
}
span{
    text-decoration: underline;
    color: gold;
}
table{
    margin: auto;
}
td{
    border: 3px dashed indianred;
}
img:hover{
    transform: rotate(5deg);
    border: 5px double gold;
}